.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  
  .scroll{
    background-color: orange;
    // overflow-y: auto;

    margin: 10px;
    // transform: translateY(100px);
  }
}

body{
  margin: 0;
}
